# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective**
<li>List popular languages for Data Science. </li>
<li>List the commonly libraries used  by dta scientists</li>
<li>Performing simple arithmetic expressions in Python</li>

#### Some of the popular languages that Data Scientists use are: 
1. Java 
2. python
3. R
4. Java Script

#### Some of the commonly used libraries used by Data Scientists include:
1. pandas 
2.  Matplotlib
3. Numpy
4. pyTorch

|Data Science Tools|
|------------------|
|jupyter Notebooks|
|R Studio|
|Python|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
(200/60)

3.3333333333333335

## Author
</t> Mona Almasoudi